@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Roboto:wght@100&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(10, 12, 17);
  color: rgb(240, 243, 246);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.react-tabs {
  display: flex;
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-right: 1px solid white;
  height: 100vh;
  width: 20em;
}

.react-tabs__tab {
  padding-left: 1.3em;
  list-style: none;
  cursor: pointer;
  color: #bbb;
  font-size: 2em;
  line-height: 2em;
  user-select: none;
  transition: 0.5s;
  border: none;
}

.react-tabs__tab--selected {
  color: white;
  font-family: 'DotGothic16', sans-serif;
  transform-origin: 30%;
}

.react-tabs__tab:hover {
  background-color: rgb(42, 121, 134);
}

.react-tabs__tab-panel {
  display: none;
  width: 100%;
  background-size: contain;
}

.react-tabs__tab-panel--selected {
  display: block;
  padding: 2em;
}

.panel-content {
}

.react-tabs__tab-panel {
  font-family: 'DotGothic16', sans-serif;
}

.react-tabs__tab-panel--selected {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
